.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bolder;
  font-size: larger;
}

.header{
  grid-column: 1/3;
  grid-row: 1;
}

.card-list{
  grid-column: 1;
  grid-row: 2;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.form-group{
  margin: 1%;
}

fieldset{
  border: 3px solid purple;
}

html{
  background-color: gray;
}

#card-btn{
  border-radius: 10px;
  border-color: navy;
  background-color: blue;
  font-size: large;
  font-weight: bolder;
}